@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: dancing;
    src: url('../../public/assets/fonts/dancing.ttf');
}
@font-face {
    font-family: inter;
    src: url('../../public/assets/fonts/inter.ttf');
}
